.ui-grid-b .ui-block-b {
    text-align: center;
}

.ui-block-c {
    text-align: right;
}

#aboutBtn {
    background-color: blue;
}

#helpBtn {
    background-color:red;
}

.ui-grid-a .ui-block-b {
    text-align: right;
}