.static {
    font-weight: bold;
    text-align: right;
    margin-right: 35px;
}

.dynamic {
    text-align: right;
    padding-right: 15px;
}

#title {
    text-align: center;
}

.ui-block-c {
    text-align: right;
}